$main-font: "Eudoxus Sans", "Open Sans", sans-serif;
$main-color: #181945;
$secondary-color: #583fbc;
$third-color: #dbeffa;
$additional-color: #ffffff;
$bgbutton-portfolio: #f5f4fa;

.header {
  background-color: $additional-color;
  height: 72px;
  padding: 51px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  gap: 100px;
}

.logo {
  font-weight: 800;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: #583fbc;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
  }
}
.navigation__list {
  color: $main-color;
  display: flex;
  gap: 40px;
  font-weight: 700;
}

.navigation__list--item {
  color: $main-color;
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: -0.02em;

  &:hover {
    color: $secondary-color;
  }
}

.btn {
  width: 112px;
  height: 31px;
  background: #583fbc;
  border-radius: 7.7px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 1-px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.main__section {
  display: flex;
  justify-content: center;
  height: 500px;
}

.main {
  background-color: $third-color;
  width: 1150px;
  height: 454px;
  border-radius: 31.1317px;
}
